{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="left-side-section">
                <!-- Start Deals Section -->

                <div class="products-section pb_small">
                    <div class="row">
                        <div class="col-12">
                            <div class="title">
                                <h4>avaible storage spaces</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="products-slider4 products-style-2 same-nav owl-carousel owl-theme" data-margin="30" data-dots="false" data-autoplay="false" data-nav="true" data-loop="false">
                                {% for x in stor %}
                                <div class="item">
                                    <div class="product-box common-cart-box">
                                        <div class="product-img common-cart-img">
                                            <img src="{{x.image.url}}" alt="product-img">
                                            <div class="hover-option">
                                                <ul class="hover-icon">
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                                    
                                                </ul>
                                                
                                            </div>
                                        </div>
                                        <div class="product-info common-cart-info">
                                            <a href="product-detail.html" class="cart-name">{{x.name}}</a>
                                            <div class="product-rate">
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star-half"></i>
                                            </div>
                                            <p class="cart-price"><del>$ 90.00</del>$ {{x.price}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                </div>
                                
                            
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}